.my-card{
    box-shadow: var(--shadow);
    min-width: 300px;
    margin: 2rem;
    font-family: "Montserrat","sans-serif" !important ;
    border-radius: 0.5rem;
    flex: 1;
}

.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;   
    margin: 2rem auto;

}
.my-row p{
margin:0; 
}