.my-card{
    box-shadow: var(--shadow);
    min-width: 300px;
    padding: 0.2rem !important;
}

.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2rem auto;

}
.my-row p{
margin:0; 
}